@font-face {
    font-family: 'font';
    src: url(../fonte.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font";
}
:root {
    --preto: rgb(0, 0, 0);
    --primaria: rgb(9, 180, 218);
    --branco: rgb(255, 255, 255);
}
body {
    background-image: url(../img/background.png);
    background-size: cover;
}
.login {
    border: 5px solid var(--primaria);
    border-radius: 10px;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.708);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 120px;
    margin: 20px;
}
p {
    color: var(--branco);
}
input {
    width: 270px;
    height: 50px;
    background-color: var(--primaria);
    border-radius: 9px;
    font-size: medium;
    transition-duration: 0.3s;
}
input:hover {
    width: 280px;
    height: 60px;
    transition-duration: 0.3s;
}
hr {
    border: 0.3px solid var(--primaria);
    width: 95%;
}
.text1 {
    margin-top: 35px;
}
.entrar {
    margin: 20px;
}
.text {
    margin: 20px;
}