@font-face {
    font-family: 'font';
    src: url(fonte.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font";
}
:root {
    --preto: rgb(0, 0, 0);
    --primaria: rgb(9, 180, 218);
    --branco: rgb(255, 255, 255);
}
body {
    background-image: url(/img/Albuns/Album_Costa_Gold/album_costagold.png);
    background-size: cover;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.nome-album {
    margin-top: 30px;
    font-size: xx-large;
}
.exit {
    width: 120px;
}
.musicas {
    display: flex;
    margin: 30px;
    text-align: center;
    color: var(--branco);
    overflow: scroll;
    margin-top: 380px;
}
.musicas::-webkit-scrollbar {
    display: none;
}